* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: white;
}

.container {
    width: 90%;
    margin: auto;
}

#header-container {
    display: flex;

    align-items: center;
}

.header{
    background-color: #2c2c2c;
}


.logo {
    flex: 1;
}

.logo:hover{
    color: #ff6309;
}

.menu {
    flex: 8;
    
    display: flex;
    justify-content: space-evenly;
}

.search {
    flex: 1;
    
    display: flex;
    justify-content: end;
}

.header li:hover {
    color: #ff6309;
}

.header .search:hover {
    color: #ff6309;
}

ul{
    list-style-type: none;
}

.menu li {
    float: left;
    padding: 20px;
    font-variant-caps: all-petite-caps;
}

.hero {
    background-image: url(../img/hero.png);
    height: 600px;
    background-size: cover;
    background-position: center;

    display: flex;
}

.hero .container {
    display: flex;
    height: 75%;

    align-items: flex-end;
}

.hero #hero-left {
    width: 40%;
}

#hero-left h1 {
    padding: 5px;
    text-align: start;
}

#hero-left h4 {
    text-align: start;
}

.button {
    margin: 20px 0px;
    padding: 15px 60px;
    border-radius: 3px;
    border: 0;

    color: white;
    font-size: larger;
    font-variant-caps: all-petite-caps;
}

.hero button {
    background-color: #ff6309;
}

.offers#branch {
    background: linear-gradient(
        122deg, 
        rgba(255,99,9,1) 0%, 
        rgba(255,159,9,1) 78%, 
        rgba(255,184,9,1) 100%
    ); 
}

.offers#pricing {
    background: linear-gradient(
        122deg, 
        rgba(85,73,73,1) 0%, 
        rgba(44,44,44,1) 100%
    ); 
}

.offers .container {
    display: flex;
    flex-direction: column;
    align-items: center;


    padding: 50px;
}

.offers #head {
    width: 60%;
    margin-bottom: 25px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 60px;
    font-variant-caps: all-petite-caps;
    text-align: center;
    padding: 20px 0;
}

h4 {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
}

.offers #detail {
    width: 80%;
    margin: auto;

    display: flex;
}

.card {
    width: 30%;
    margin: 20px;

    border-radius: 4px;
    background-color: #2c2c2c;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    display: flex;
    flex-direction: column;
    align-items: center;
}

#branch .card {
    background-color: #2c2c2c;
}

#branch .card:hover {
    background-color: #ff6309;
    
}

#pricing .card {
    background-color: #ff6309;
}

#pricing .card:hover {
    background-color: #2c2c2c;
    
}

.card-title {
    padding: 5px 0;
    font-size: x-large;
    font-variant-caps: all-petite-caps;
}

.card img{
    width: 100%;
 }

.card-text {
    text-align: center;
    padding: 10px 0;
}

.card-button {
    background-color: #2c2c2c;

    font-size: medium;
}

.div-5050 {
    display: flex;

    background: linear-gradient(
        122deg, 
        rgb(252, 95, 4) 0%, 
        rgb(255, 128, 9) 78%, 
        rgb(255, 128, 9) 100%
    );
    
    align-items: center;
    justify-content: center;
    text-align: center;
}

.div-half {
    flex: 1;
}

.div-5050.top .div-half.left {
    background: url(../img/div_5.png);
    height: 800px;
    background-size: cover;
    background-position: center;
}

.div-5050.bottom .div-half.right {
    background: url(../img/div_2_1.png);
    height: 800px;
    background-size: cover;
    background-position: center;
    /* background-repeat: no-repeat; */
}

.div-5050 img {
    width: 100%;
    background-position: auto center;
    background-repeat: no-repeat;
}

.div-5050 .button {
    background-color: #2c2c2c;
}

.statistics {
    background: linear-gradient(
        122deg, 
        rgba(85,73,73,1) 0%, 
        rgba(44,44,44,1) 100%
    ); 

    height: 600px;
    text-align: center;
}


.statistics .top {
    width: 70%;
    margin: auto;
}

.statistics .title {
    font-size: 50px;
    font-weight: 700;
}

.statistics .bottom {
    padding: 80px 40px;
    display: flex;
    justify-content: space-evenly;
}

.footer {
    background-color: #2c2c2c;
    
}

.footer .container {
    display: flex;
}

.footer .half {
    flex: 1;
    padding: 40px;
}

.footer .left {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer .right {
    display: flex;
    justify-content: space-evenly;
}

.footer #detail {
    font-weight: 600;
}

.footer .half p {
    font-size: 32px;
    padding: 5px 0;
    margin-bottom: 10px;
    font-variant-caps: all-petite-caps;
}
.footer li {
    padding: 2px 0;
}

.footer li:hover {
    color: #ff6309;
}

.footer .social {
    margin: 12px 0px;
}

.footer .social i:hover {
    color: #ff6309;
}

.footer .social i {
    margin: 4px;
    padding: 4px;
}

.footer .rights {
    background-color: #181818;
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.footer .rights p:hover {
    color: coral;
}

.black-button:hover {
    background-color: brown;
}

.orange-button:hover {
    background-color: #2c2c2c;
}